body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic light ', 'Arial Narrow', Arial, sans-serif;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    color: black;
}

.container .header {
    text-align: center;
}

.card {
    background: grey;
    padding: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 1 4px 8px 1 rgba(2, 2, 2, 10);
}

.card h2 {
    margin-bottom: 20px;
}

.card input {
    padding: 10px;
    border-radius: 20px;
}


.card select {
    padding: 10px;
    border-radius: 20px;
}

.card button {
    background: lightskyblue;
    color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    align-items: center;

}